body {
    font-family: var(--font-family-sans-serif);
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-size: var(--font-size-base);
}

*, :after, :before {
    box-sizing: border-box;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.h1 {
    font-size: var(--font-size-h1);
    font-weight: bold;
}

.h2 {
    font-size: var(--font-size-h2);
    font-weight: bold;
}