/* every font should be in separate folder */

/*@font-face {*/
    /*font-family: 'Bender';*/
    /*src: url('../fonts/Bender/Bender-Regular.woff2') format('woff2'),*/
         /*url('../fonts/Bender/Bender-Regular.woff') format('woff');*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
/*}*/